/* line 1, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/link.css.scss */
a {
  color: #666;
  text-decoration: none;
}

/* line 6, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/link.css.scss */
a:hover {
  color: gold;
  text-decoration: underline;
}
