/* line 1, /Users/cadamini/RubyApps/blog/app/assets/stylesheets/logo.css.scss */
#logo {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  line-height: 2em;
  padding: 20px;
  border-bottom: 3px solid gold;
  background: url(/assets/bg.JPG) repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
