/* line 1, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/navbar.css.scss */
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 8, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/navbar.css.scss */
#navbar li {
  float: left;
}

/* line 12, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/navbar.css.scss */
#navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 20, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/navbar.css.scss */
#navbar li a:hover {
  background-color: #eee;
}

/* line 24, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/navbar.css.scss */
.nav {
  border-bottom: 1px solid gold;
  background-color: #f4fbff;
}

/* line 29, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/navbar.css.scss */
.navbar-text {
  color: black;
}
