/* line 1, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/widgets.css.scss */
#widget-container {
  border-top: 3px solid gold;
}

/* line 6, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/widgets.css.scss */
.widget {
  padding: 10px;
  background-color: #f4fbff;
}

/* line 11, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/widgets.css.scss */
.widget li {
  list-style: none;
  border-bottom: 1px dotted #ddd;
}

/* line 16, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/widgets.css.scss */
.widget .title {
  border-bottom: 1px dotted #ddd;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 23, C:/Users/User/Desktop/ruby_projects/blog/app/assets/stylesheets/widgets.css.scss */
.widget .content {
  padding: 0px;
}
