- content_for :sidebar do
  .centered
    #widget-container
      .widget
        .content
          = render partial: 'layouts/sidebar/search_form'
      .widget
        .title
          ="Kategorien"
        .content
          = render partial: 'layouts/sidebar/categories', collection: @categories, as: :category
      .widget
        .title
          ="Letzte Posts"
        .content
          = render partial: 'layouts/sidebar/recent_posts', collection: @recent_posts, as: :post
      .widget
        .title
          ="Archiv"
        .content
          = render partial: 'layouts/sidebar/post_archive', locals: {archive: @archive, months: (1..12).to_a }

