@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* logo */

.logo {
  height: 300px;
  padding: 20px;
  text-align: center;
  background-image: url("patrick-fore-0gkw_9fy0eQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  a {
    text-decoration: none;
  }
}

.logo--main {
  font-size: 64px;
  color: yellow;
  text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 1px 0 orange;
}

.logo--subline {
  font-size: 24px;
  color: orange;
  margin: -15px 0px 0px 0px;
}

/* main-content */

.main-content {
  padding: 40px;
}

/* post list */

.flexbox--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.post-list--item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0px 20px 10px 20px;
  box-shadow: 4px 2px 5px 2px lightgrey;
  margin: 0 5px 0 5px;
}
