@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "link";
@import "comments";
@import "navbar";
@import "posts";
@import "widgets";
@import "logo";
@import "sidebar";

body {
  background-color: #f4fbff;
}

.background {
  height: 50px;
  background: image-url('bg.JPG') repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.container-fluid {
  padding: 0px;
  margin: 0 auto;
}

.flash_area {
  text-align: center;
  background-color: whitesmoke;
}

.search {
  clear: both;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0 10px 0 0;
}

h2 {
  font-size: 22px;
  font-weight: 800;
  line-height: 24px;
  margin: 0 0 24px;
}

.previous_page, .next_page, {
  padding: 2px;
  border: 1px solid #eee;
  background-color: white;
}

.disabled {
  color: #eee;
}

.centered {
  text-align: center;
}

#main-content {
  border-right: 1px dotted #DDD;
  padding: 50px;
}

#main-content img {
  vertical-align: middle;
  max-width: 50%;
  display: block;
}

.footer {
  position: relative;
  width: 100%;
  border-bottom: 3px solid gold;
  border-top: 1px solid #ddd;
  background-color: white;
  padding: 15px;
}

@media only screen and (max-width: 1170px) {
}

@media only screen and (max-width: 768px) {
}

