@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* overall styles */

* {
  a {
    color: black
  }

  a:hover {
    color: black;
    text-decoration: none;
  }
}

/* logo */

.logo {
  height: 300px;
  padding: 20px;
  text-align: center;
  background-image: url("patrick-fore-0gkw_9fy0eQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo--main {
  font-size: 64px;
  color: yellow;
  text-shadow: -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 1px 0 orange;
}

.logo--subline {
  font-size: 24px;
  color: orange;
  margin: -15px 0px 0px 0px;
}

/* main-content */

.main-content {
  padding: 40px;
}

/* post meta info */

.post--meta {
  background: #f0ecec;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-weight: lighter;
}

/* post list */

.flexbox--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.post-list--item {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 0px 20px 10px 20px;
  box-shadow: 4px 2px 5px 2px lightgrey;
  margin: 0 5px 0 5px;

  a {
    color: black;
  }

  h1 {
    font-size: 1em
  }
}

#post {
  padding: 0px 20px 10px 20px;
  margin: 0 5px 0 5px;
}

.post--comments {
  padding: 20px;
}

.post--content {
  border-bottom: 1px solid lightgrey;
}
