#logo {
    text-align: center;
    position: relative;
    height: 70px;
    margin: 0 auto;
    border-bottom: 1px solid #d9e8ed;

  h1 {
    color: gold;
  }

  .image1 {
      position: absolute;
    left: 5px;
    width:10px;
    height: 60px;
    background-color: #333;
  }
  .image2 {
    position: absolute;
    left: 16px;
    width:10px;
    height: 60px;
    background-color: #333;
  }
  .image3 {
    position: absolute; 
    left: 27px;
    width:10px;
    height: 60px;
    background-color: #333;
  }
  .image4 {
    position: absolute; 
    left: 38px;
    width:10px;
    height: 60px;
    background-color: #333;
  }
  .image5 {
    position: absolute; 
    left: 49px;
    width:10px;
    height: 60px;
    background-color: gold;
  }
  .text {
    position: absolute;
    left: 10px;
    font-size: 20px;
    min-width: 200px;
    border: 1px solid gold;
    color: black;  
    height: 60px;
  }

  .subline {
    position: absolute;
    left: 50%;
    color: gold;
    width: 200px;
    top: 37px;
    border: none;
  }
  .image6 {
    position: absolute; 
    right: 0px;

    height: 60px;
    background-color: #333;
  }
}


