#post {
  border: 1px solid #ddd;
  border-top: 3px solid gold;
  padding: 20px;
  
  .img-original-size {
    float: left;
    margin: 0 0 10px 0;
  }
}

.subline {
  font-size: 10px;
  border-bottom: 1px solid #ddd;
}

#post img {
	vertical-align: middle;
	max-width: 100%;
	display: block;
}