.widget li {
  list-style: none;
}

.widget .title {
  border-bottom: 1px dotted #ddd;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  background-color: #d9e8ed;
  margin: 5px;
}

.widget .content {
  padding: 0px;
}
